<a href="https://colab.research.google.com/github/professor91/DataCleaningAndAnalysis/blob/master/DataCleaningAndAnalyis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
import numpy as np
from numpy import nan as NA

## Filtering out missing values

method 1-

In [ ]:
data= pd.Series([1,NA,3.5,NA,7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.dropna()     # dropping missing values from the table

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data[data.notnull()]   # same as before

0    1.0
2    3.5
4    7.0
dtype: float64

method 2-

In [ ]:
data= pd.DataFrame([[1.0, 6.5, 3.0], [1.0, NA, NA], [NA,NA,NA], [NA, 6.5, 3.0]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
cleaned= data.dropna()    # drop all rows which have NA in them
cleaned

     0    1    2
0  1.0  6.5  3.0

In [ ]:
cleaned= data.dropna(how='all')          #  drop rows which have all elements as NA
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
data[4]= NA       # add 4th column with all values as NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [ ]:
cleaned= data.dropna(axis=1, how='all')    # axis 1-row, axis 0-column
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

method 3-

In [ ]:
df= pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1]= NA            # iloc[a,b] -  a- row, b- column
df.iloc[:2,2]= NA
df

          0         1         2
0  0.058472       NaN       NaN
1  0.933091       NaN       NaN
2 -1.011408       NaN  0.184632
3  0.217542       NaN -0.017996
4 -0.378154  0.677459 -0.056677
5 -0.048213  1.566652  0.126465
6  0.514133 -1.412680  0.477391

In [ ]:
df.dropna()                     # drop all rows which has NA

          0         1         2
4  0.458520 -0.033386  1.244749
5 -1.090958  0.705926  2.222397
6  0.578707 -0.269513  1.628762

In [ ]:
df.dropna(thresh=2)              # row must have atleast threshold non-NA values

          0         1         2
2  1.775991       NaN  0.696468
3  1.489461       NaN -0.818375
4  0.458520 -0.033386  1.244749
5 -1.090958  0.705926  2.222397
6  0.578707 -0.269513  1.628762

## Filling in Missing Data

method 1-

In [ ]:
df

          0         1         2
0  0.624464       NaN       NaN
1  0.600411       NaN       NaN
2  1.775991       NaN  0.696468
3  1.489461       NaN -0.818375
4  0.458520 -0.033386  1.244749
5 -1.090958  0.705926  2.222397
6  0.578707 -0.269513  1.628762

In [ ]:
df.fillna(0)                    # fillna(a) replaces NA with constant a in dataframe

          0         1         2
0  0.624464  0.000000  0.000000
1  0.600411  0.000000  0.000000
2  1.775991  0.000000  0.696468
3  1.489461  0.000000 -0.818375
4  0.458520 -0.033386  1.244749
5 -1.090958  0.705926  2.222397
6  0.578707 -0.269513  1.628762

method 2-

In [ ]:
df.fillna({1: 0.5, 2: 0})        #  column 1- replace with 0.5    column 2- replace with 0

          0         1         2
0  0.624464  0.500000  0.000000
1  0.600411  0.500000  0.000000
2  1.775991  0.500000  0.696468
3  1.489461  0.500000 -0.818375
4  0.458520 -0.033386  1.244749
5 -1.090958  0.705926  2.222397
6  0.578707 -0.269513  1.628762

In [ ]:
df.fillna(0, inplace=True)      # modifies in the origional dataframe
df

          0         1         2
0  0.624464  0.000000  0.000000
1  0.600411  0.000000  0.000000
2  1.775991  0.000000  0.696468
3  1.489461  0.000000 -0.818375
4  0.458520 -0.033386  1.244749
5 -1.090958  0.705926  2.222397
6  0.578707 -0.269513  1.628762

In [ ]:
df= pd.DataFrame(np.random.randn(6,3))
df.iloc[2:,1]= NA
df.iloc[4:,2]= NA
df

          0         1         2
0 -0.299840 -0.857060  0.701686
1 -0.079887  0.211238 -0.224531
2  0.066378       NaN  0.742381
3 -0.242572       NaN -0.360545
4  1.272119       NaN       NaN
5  0.009390       NaN       NaN

In [ ]:
df.fillna(method='ffill')      # fill the NA columns with value just above the NA cell in the column

          0         1         2
0 -0.463356  1.179399  0.167980
1 -0.145770  0.183104  0.448228
2  0.943163  0.183104  0.117955
3  0.776567  0.183104  0.472435
4 -1.501798  0.183104  0.472435
5 -0.498521  0.183104  0.472435

In [ ]:
df.fillna(method='ffill', limit=2)    # fill max 2 columns

          0         1         2
0 -0.463356  1.179399  0.167980
1 -0.145770  0.183104  0.448228
2  0.943163  0.183104  0.117955
3  0.776567  0.183104  0.472435
4 -1.501798       NaN  0.472435
5 -0.498521       NaN  0.472435

In [ ]:
data= pd.Series([1., NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

fillna arguments:- value, method (interpolation), axis, inplace, limit

##Data Transformantion

In [ ]:
data= pd.DataFrame({'k1':['one', 'two']*3 + ['two'], 'k2': [1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [ ]:
data.duplicated()      # returns boolean whether a row is repeated or not

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [ ]:
data['v1']= range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [ ]:
data.drop_duplicates(['k1'])     # drop duplicates from column 1

    k1  k2  v1
0  one   1   0
1  two   1   1

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep='last')   'keep doubt'

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

##Transforming data usng a Function or Mapping

In [ ]:
data= pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                             'Pastrami', 'corned beef', 'Bacon',
                             'pastrami', 'honey ham', 'nova lox'],
                    'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
meat_to_animal= {
                  'bacon': 'pig',
                  'pulled pork': 'pig',
                  'pastrami': 'cow',
                  'corned beef': 'cow',
                  'honey ham': 'pig',
                  'nova lox': 'salmon'
                }

In [ ]:
lowercased= data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

mapping

In [ ]:
data['animal']= lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
data['food'].map(lambda x:meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

##Replacing Values

In [ ]:
data= pd.Series([1.,-999,2.,-999,-1000.,3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace(-999,np.nan)   # replace a value by a value

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace([-999,-1000], np.nan)    # replace a set of values by a value

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [ ]:
data.replace([-999,-1000],[np.nan,0])    # replace a set of values by a set of values

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [ ]:
data.replace({-999: np.nan, -1000: 0})    # using dictionary

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

##Renaming Axis Indexes

In [ ]:
data= pd.DataFrame(np.arange(12).reshape((3,4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [ ]:
transform= lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [ ]:
data.index= data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [ ]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three':'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [ ]:
data.rename(index={'OHIO':'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

##Discretization and Binning

In [ ]:
ages= [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins= [18, 25, 35, 60, 100]

In [ ]:
cats= pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [ ]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [ ]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [ ]:
pd.cut(ages,[18,26,36,61,100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [ ]:
group_names= ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [ ]:
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [ ]:
data= np.random.rand(20)

In [ ]:
pd.cut(data, 4, precision=2)

[(0.51, 0.75], (0.75, 1.0], (0.26, 0.51], (0.26, 0.51], (0.75, 1.0], ..., (0.75, 1.0], (0.75, 1.0], (0.51, 0.75], (0.26, 0.51], (0.51, 0.75]]
Length: 20
Categories (4, interval[float64, right]): [(0.017, 0.26] < (0.26, 0.51] < (0.51, 0.75] < (0.75, 1.0]]

In [ ]:
data= np.random.randn(1000) # Normally distributed

In [ ]:
cats= pd.qcut(data, 4)  # cut into quartiles
cats

[(-0.0141, 0.654], (-3.068, -0.587], (-0.0141, 0.654], (-0.0141, 0.654], (-0.587, -0.0141], ..., (-0.0141, 0.654], (-0.0141, 0.654], (-0.0141, 0.654], (-0.587, -0.0141], (-0.587, -0.0141]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.068, -0.587] < (-0.587, -0.0141] < (-0.0141, 0.654] <
                                           (0.654, 2.801]]

##Detecting and Filtering Outliers

In [ ]:
data= pd.DataFrame(np.random.randn(1000,4))

In [ ]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040354     0.036184    -0.003332    -0.014010
std       1.014135     0.961293     0.996003     1.000278
min      -3.091119    -3.854827    -2.814749    -3.232358
25%      -0.649364    -0.621024    -0.656490    -0.669025
50%       0.022891     0.067079    -0.026127    -0.017256
75%       0.666535     0.644677     0.667370     0.644084
max       3.283629     3.066351     3.410471     3.288992

In [ ]:
col= data[2]
col[np.abs(col)>3]

54     3.410471
959    3.160332
Name: 2, dtype: float64

In [ ]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
54   0.016043 -0.527526  3.410471  0.138520
146 -3.091119 -0.414753 -1.150655  0.131943
155 -0.258041  1.068246  1.729464 -3.232358
301  0.825800  3.066351  0.121364 -0.294944
395  0.392732  0.701455  0.258597  3.288992
435 -1.851382 -0.065168  0.637750  3.061722
496  3.283629  1.110043  1.174332 -0.030391
499 -0.073984 -0.595283  0.775994  3.022904
695  0.163558 -3.854827  1.531799  0.329679
725 -1.969199 -3.090079  0.767894 -0.513310
785 -3.075431  0.795786 -0.954797 -0.436105
959 -2.256365  0.208884  3.160332  1.274306

In [ ]:
data[np.abs(data)>3] = np.sign(data)*3

In [ ]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040237     0.037063    -0.003903    -0.014151
std       1.012759     0.957707     0.994181     0.998384
min      -3.000000    -3.000000    -2.814749    -3.000000
25%      -0.649364    -0.621024    -0.656490    -0.669025
50%       0.022891     0.067079    -0.026127    -0.017256
75%       0.666535     0.644677     0.667370     0.644084
max       3.000000     3.000000     3.000000     3.000000

In [ ]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0 -1.0 -1.0
1 -1.0  1.0 -1.0  1.0
2 -1.0  1.0 -1.0  1.0
3 -1.0  1.0 -1.0  1.0
4 -1.0 -1.0 -1.0  1.0

##Premutation & Random Sampling

In [ ]:
df= pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [ ]:
sampler= np.random.permutation(5)

In [ ]:
sampler

array([4, 0, 2, 1, 3])

In [ ]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [ ]:
df.take(sampler)

    0   1   2   3
4  16  17  18  19
0   0   1   2   3
2   8   9  10  11
1   4   5   6   7
3  12  13  14  15

In [ ]:
df.sample(n=3)

    0   1   2   3
1   4   5   6   7
4  16  17  18  19
0   0   1   2   3

In [ ]:
choices= pd.Series([5,7,-1,6,4])

In [ ]:
draws= choices.sample(n=10, replace=True)

In [ ]:
draws

4    4
1    7
0    5
1    7
4    4
3    6
4    4
1    7
1    7
1    7
dtype: int64